<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/button.css">
    <link rel="stylesheet" href="/styles/input.css">
    <link rel="stylesheet" href="/styles/error.css">
    <title><%= locals.title %></title>
</head>
<body>
    <header>
        <div class="title-container">
            <h1 class="title"><a href="/">Bhandaar</a></h1>
        </div>
        <% if (locals.user) { %>
            <div class="account-container">
                <a href="/logout">
                    <%- include ('../icons/logout.svg') %> 
                </a>
            </div>
        <% } else { %>
            <nav class="header-nav">
                <a href="/login">
                    <button type="submit" class="accent">Login</button>
                </a>
                <a href="/sign-up">
                    <button type="submit" class="normal">Sign-up</button>
                </a>
            </nav>
        <% } %> 
    </header>