<%- include('../partials/header', {title: 'Home'}) %>
    <% if (locals.user) { %>
        <div class="upload-page">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file" />
                <button type="submit" class="accent">Upload</button>
            </form>    
            <% if (locals.error) { %>
                <div class="error-container">
                    <p class="error"><%= error %> </p>
                </div>    
            <% } %> 
        </div>
    <% } %> 
<%- include('../partials/footer') %>
