button {
    padding: 10px 1em;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    font-family: inherit;
}

button.accent {
    background-color: #0066da;
    color: snow;
}

button.normal {
    background-color: rgb(228, 228, 228);
}

button:focus, button:hover {
    outline: 2px solid rgb(78, 78, 78);
}

.accent.plus {
    font-weight: 800;
    font-size: 2rem;
    padding: 10px 20px;
    text-align: center;
    font-family: monospace;
    border-radius: 10px;
}