.drive-header {
    display: flex;
    justify-content: space-between;
    margin: 10px 1em;
    align-items: center;
}

.path-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.3rem;
    gap: 10px;
}

.add-container {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    gap: 6px;
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: monospace;
}

hr {
    height: 2px;
    opacity: 50%;
}

.add-container > * {
    margin: 0 1em;

}

.drive-content {
    display: grid;
    gap: 10px;
}
.add-container .create {
    
    color: snow;
    text-align: center;
    font-size: 2rem;
    margin: 0;
    border-radius: 8px 8px 0 0;
    background-color: #0066da;
}

.file, .structure {
    display: grid;
    gap: 1em;
    align-items: center;
    justify-items: left;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}

.structure > * {
    margin: 5px 10px;
}

.structure.layout {
    font-size: 1.2rem;
    font-weight: 600;
}
.file-name, .folder-name {
    display: flex;
    align-items: center;
    gap: 5px; 
}

.file-name, .folder-name, .file-size, .file-upload-time, .file-download-count, .file-download, .file-delete {
    display: flex;
    flex-wrap: wrap;
}

.file-download, .file-delete, .folder-delete {
    justify-self: center;
}

.folder.structure, .new-folder {
    background-color: rgb(219, 194, 165);
    border-radius: 10px;
}

.folder-create-time {
    grid-column: 3 / 4;
}

.folder-delete {
    grid-column: 5 / 6;
}

.share.folder {
    grid-column: 4/ 5;
}