header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 1em;
    flex-wrap: wrap;
    height: min-content;
}

.title-container {
    margin-left: 1em;
}

.title {
    font-size: 3rem;
    color: #0066da;
}

nav {
    display: flex;
    gap: 1em;
}